* {
  font-family: 'Helvetica', Courier, monospace;
}

body {
  padding: 55px;
}

input{
  color: rgb(38, 107, 197);
  font-size: 1.1rem;
  width: 100%;
  background-color: rgb(236, 245, 255);
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(92, 92, 92);
  border-radius: 5px;
  margin-bottom: 8px;
  margin-right: 8px;
  overflow: hidden;
  width:240px ;
}

.card p{
  padding: 2px;
  text-align: center;
  color: grey;
}

.card img{
  max-height: 140px;
}

h4.categoria{
  color: rgb(38, 107, 197);
}


p.autor {
  color: rgb(208, 224, 255);
  text-align: right;
  font-size: 80%;
  position: relative;
  bottom: 5px;
  right: 5px;
}

p.busqueda{
  color: grey;
  font-size: 80%;
}

.header{
  background-color: rgb(38, 107, 197);
  margin-bottom: 2px;
}

.header h2{
  padding: 15px;
  color: aliceblue;
}
